form {
  width: 600px;
  padding: 20px;
  border: 3px solid black;
  margin: 30px auto;
  
  display: flex;
  flex-direction: column;
  
  padding-top: 50px;

  position: relative;
}

form > span {
  position: absolute;
  left: 50%;
  transform: translateX(-35%);
  top: 5px;
  font-size: 20px;
  color: red;

  display: none;

  width: 100%;
}

form > label {
  height: 50px;
  font-size: 30px;
}

form > label > input {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  font-size: 30px;
}

button {
  padding: 5px;
  font-size: 30px;
  cursor: pointer;

  background-color: rgba(0, 0, 0, .3);;
}

form > label > select {
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
}